<div class="container">
  <h2>np_complete solver</h2>
  <p>Here is a web application to handle <a href="http://imgs.xkcd.com/comics/np_complete.png" target="_blank">this</a> xkcd cartoon. In other words, this application will take in a data file with a total followed by a list of menu items/prices (link to sample file below), and return all possible combinations of the menu items that sum up to the exact total. Enjoy!</p>
	<p><a href="/sample" target="_blank">Sample File</a></p>

  <form action="/upload" enctype="multipart/form-data" method="post">
		<p>Please select a data file to upload:<br>
		<input type="file" accept=".txt" name="file"></p>
		<input type="submit" value="Upload">
	</form>
</div>
