<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <title>Table XI Code Challenge</title>
</head>
<body>

  <%= yield %>

</body>
</html>


